.img-responsive{
    width:100%;
    height:auto;
    display: block;
}
.xinjiang{
    margin-bottom:60px;
}
.xinjiang .recommend .tit{
    padding-top:30px;
    padding-bottom:20px;
    width:60%;
    margin:auto;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .recommend .recommend1,.xinjiang .recommend .recommend2,.xinjiang .recommend .recommend3,.xinjiang .recommend .recommend4{
    display: inline-block;
    width:23.5%;
    padding:10px;
}
.xinjiang .recommend div img{
    width:100%;
}
.xinjiang .recommend-result .detail{
    padding:10px;
    border-bottom:1px solid #e1e1e1;
}
.xinjiang .recommend-result .detail .lg{
    font-size: 16px;
    color:#333;
}
.xinjiang .recommend-result .detail .sm{
    font-size: 16px;
    color:#666;
}
.xinjiang .recommend-result .detail .sm span{
    color:#990000;
}
.xinjiang .recommend-result .price{
    border-radius: 3px;
    padding:10px;
    font-size: 16px;
    color:#666;
    border-bottom:1px solid #e1e1e1;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .3);
}
.xinjiang .recommend-result .price .right{
    float: right;
    color:#ff7200;
}
.other .recommend-result .price .right,.zhoubian .recommend-result .price .right{
    float: left;
}
.xinjiang .photo{
    margin-top:20px;
    padding-top:40px;
    padding-bottom:40px;
    background: #ffcc66;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .photo .tit span{
    display: inline-block;
    width:30%;
    padding:0px 3px;
}
.xinjiang .photo .photo-list span{
    display: block;
    padding:0px 10px;
    margin-top:-25px;
}
.xinjiang .photo .photo-list .add{
    width:40%;
    margin:auto;
    display: block;
    padding-top:40px;
}
.xinjiang .other .tit{
    padding:0px 10px;
}
.xinjiang .other .tit span{
    display: inline-block;
}
.xinjiang .other .tit .left{
    width:50%;
    display: block;
    margin:auto;
    margin-top:30px;
    margin-bottom:10px;
}
.xinjiang .recommend-result .item{
    margin-top:20px;
    position: relative;
}
.other .recommend-result,.zhoubian .recommend-result{
    overflow: hidden;
}
.other .recommend-result .item,.zhoubian .recommend-result .item{
    margin-top:20px;
    position: relative;
    width:50%;
    padding:0px 2%;
    float: left;
}
.other .recommend-result .detail,.other .recommend-result .price{
    padding:10px 5px;
}
.other .recommend-result .detail,.zhoubian .recommend-result .detail{
    border-bottom:none;
    background: #fff;
}
.other .recommend-result .detail .lg,.other .recommend-result .detail .sm,.zhoubian .recommend-result .detail .lg,.zhoubian .recommend-result .detail .sm{
    font-size: 14px;
}
.other .recommend-result .detail .sm,.zhoubian .recommend-result .detail .sm{
    font-size: 12px;
    height:25px;
}
.other .recommend-result .item img,.zhoubian .recommend-result .item img{
    height:123px;
}
@media screen and (max-width: 320px) {
    .other .recommend-result .item img,.zhoubian .recommend-result .item img{
        height:110px;
    }
}
.other .recommend-result .detail .sm span,.zhoubian .recommend-result .detail .sm spam{
    color:#990000;
}
.other .recommend-result .price,.zhoubian .recommend-result .price{
    border-radius: 0px;
    font-size: 12px;
    color:#666;
    border-bottom:none;
    box-shadow: none;
    background: #fff;
    padding-top:0px;
    height:25px;
}
@media screen and (min-width: 350px) {
    .other .recommend-result .price,.zhoubian .recommend-result .price{
        font-size: 13px;
    }
    .other .recommend-result .detail .sm,.zhoubian .recommend-result .detail .sm{
        font-size: 13px;
    }
}
.xinjiang .recommend-result .item a{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.xinjiang .recommend-result .add{
    width:40%;
    margin:auto;
    display: block;
    padding-top:40px;
}
.xinjiang .zhoubian .zhoubian-img{
    width:50%;
    display: block;
    margin:auto;
    margin-top:30px;
    margin-bottom:10px;
}
.xinjiang .review .goods-group{
    margin-top:0px;
    padding-top:10px;
}
.xinjiang .review .goods-group .item{
    margin-bottom:20px;
    position: relative;
}
.xinjiang .review .goods-group .item a{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%
}
.xinjiang .review .goods-group .review-img img{
    width:100%;
    display: block;
    margin: auto;
    margin-bottom:10px;
}
.xinjiang .review .goods-group .item .detail{
    background: #fff;
    padding:10px 10px;
    border-radius: 3px;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .3);
}
.xinjiang .review .goods-group .item .detail p {
    font-size: 15px;
    line-height: 20px;
}
.northwest .tit-tag{
    overflow: hidden;
    position: relative;
    text-align: center;
    text-align: -webkit-center;
    padding:30px 5px 10px;
}
.northwest .tit-tag .border{
    border:1px solid #990000;
    width:100%;
    position: absolute;
    top:107px;
    left:0px;
    right:0px;
    margin:auto;
    z-index:-1;
}
.northwest .tit-tag span{
    height:25px;
    border-radius: 25px;
    border:1px solid #990000;
    text-align: center;
    line-height:25px;
    padding:5px 10px;
    cursor: pointer;
    background: #fec23d;
    color:#990000;
    font-size: 12px;
}
@media screen and (max-width: 330px) {
    .northwest .tit-tag span{
        padding:5px;
    }
}
.northwest .tit-tag .active{
    background: #990000;
    color:#fec23d;
}
.northwest .review .tit img{
    width:50%;
    margin:auto;
    display: block;
    margin-top:30px;
    margin-bottom:30px;
}
.xinjiang .customized{
    position: relative;
    height:400px;
    background: #c2824a;
    background-repeat: no-repeat;
    background-position: center center;
}
.xinjiang .customized span{
    display: block;
    text-align: -webkit-center;
}
.xinjiang .customized .span1{padding-top:40px;}
.xinjiang .customized .span2{position: absolute;left:0px;right:0px;top:80px;}
.xinjiang .customized .span3{padding:20px 30px 0px;}
.xinjiang .customized .btn-customized{
    display: block;
    background: #fff;
    border-color: #fff;
    color:#bb6832;
    width:210px;
    height:66px;
    line-height:66px;
    font-size: 22px;
    border-radius: 66px;
    margin:30px auto;
    text-align: center;
    text-align: -webkit-center;
}

.recommend-one .tit img,.recommend-two .tit img{
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 30px;
}