.xinjiang{
    margin-top:127px;
    margin-bottom:50px;
    overflow: hidden;
    background: #f4f4f4;
}
.xinjiang .banner{
    position: relative;
    height:1412px;
    background: url("../images/silk/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.xinjiang .banner .banner-video{
    position: absolute;
    bottom:50px;
    left:16%;
    height:547px;
    width:689px;
    background: url("../images/silk/banner-video.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.xinjiang .review{
    background: #fee9ed;
}
.xinjiang .review .goods-group{
    margin-top:0px;
    padding-top:80px;
}
.xinjiang .review .goods-group .review-img img{
    display: block;
    margin: auto;
    margin-bottom:40px;
}
.xinjiang .review .goods-group .item .tit{
    height:50px;
}
.xinjiang .review .goods-group .item .tit p{
    font-size: 16px;
    line-height:20px;
}
@media screen and (max-width: 1660px) {
    .xinjiang .banner .banner-video{
        left:12%;
    }
}
@media screen and (max-width: 1560px) {
    .xinjiang .banner .banner-video{
        left:8%;
    }
}
@media screen and (max-width: 1460px) {
    .xinjiang .banner .banner-video{
        left:4%;
    }
}
@media screen and (max-width: 1260px) {
    .xinjiang .banner .banner-video{
        left:0;
    }
}
.xinjiang .chart{
    position: relative;
    height:1857px;
    background: url("../images/silk/chart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.xinjiang .chart img{
    position: absolute;
    bottom:-28px;
    left:55%;
    z-index:90;
}
.xinjiang .xiaotuanman{
    position: relative;
    height:945px;
    background: #fff;
}
.xinjiang .xiaotuanman .xiaotuanman2{
    padding-top:65px;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .xiaotuanman .xiaotuanman2 div{
    display: inline-block;
    margin:0px 180px;
}
.box
{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top:240px;
}
.box-two{
    display: none;
}
.lg-left{
    position: absolute;top:-174px;left:-47px;width:550px;height:600px;border:1px solid #ddd;display: none;
}
.lg-right{
    position: absolute;top:-174px;right:-57px;width:550px;height:600px;border:1px solid #ddd;display: none;
}
.lineF, .lineS
{
    position: absolute;
    visibility: hidden;
    padding-left: 30px;
}
.lineS
{
    top: 166px;
    left: 95px;
}
.boxF, .boxS, .boxT, .overlay
{
    width: 180px;
    height: 205px;
    overflow: hidden;
}
.boxF, .boxS
{
    visibility: hidden;
}
.boxF
{
    transform: rotate(120deg);
    float: left;
    margin-left: 10px;
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}
.boxS
{
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.boxT
{
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
}
.box-B .boxT:hover{
    margin-left:-2px;
}
.box-B .boxT{
    moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.overlay
{
    transition: all 250ms ease-in-out 0s;
    display: none;
    position: relative;
}
.overlay a
{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    border-radius: 3px;
    background-color: #d3b850;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: White;
    font-size: 18px;
    font-weight: bolder;
}
.xinjiang .select{
    position: relative;
    overflow: hidden;
}
.xinjiang .select .to-go{
    position: relative;
    padding-top:20px;
    width:1024px;
    margin:auto;
    display: none;
}
.xinjiang .select .to-go .img2{
    position: absolute;
    bottom:22px;
    left:-133px;
}
.xinjiang .select .to-go .img3{
    position: relative;
}
.xinjiang .select .to-go .img3 .spot{
    position: absolute;
    top:222px;
    left:132px;
    width:750px;
    height:80px;
}
.xinjiang .select .to-go .img3 .spot div span{
    display: inline-block;
    font-size: 25px;
    color:#3e3a39;
    padding:3px 10px;
    margin:5px 0px;
    border:1px solid #fff;
    cursor: pointer;
}
.xinjiang .select .to-go .img3 .spot div .active{
    border-color:#dab867;
    color:#dab867;
}
.xinjiang .select .selecttwo{
    width:1034px;
    margin:auto;
    display:none;
}
.xinjiang .select .selecttwo .img3{
    position: relative;
    margin-top:20px;
}
.xinjiang .select .selecttwo .img3 .interest{
    position: absolute;
    top:180px;
    left:67px;
    height:130px;
    width:190px;
}
.xinjiang .select .selecttwo .img3 .interest span{
    display: inline-block;
    font-size: 20px;
    color:#3e3a39;
    padding:4px 10px;
    margin:5px 0px;
    border:1px solid transparent;
    cursor: pointer;
}
.xinjiang .select .selecttwo .img3 .interest .active{
    border-color:#d9b663;
    color:#d9b663;
}
.xinjiang .select .selecttwo .img3 .price{
    position: absolute;
    top:190px;
    left:440px;
    height:110px;
    width:190px;
}
.xinjiang .select .selecttwo .img3 .price span{
    display: inline-block;
    font-size: 20px;
    color:#3e3a39;
    padding:4px 10px;
    margin:3px 0px;
    border:1px solid transparent;
    cursor: pointer;
}
.xinjiang .select .selecttwo .img3 .price .active{
    border-color:#d9b663;
    color:#d9b663;
}
.xinjiang .select .selecttwo .img3 .day{
    position: absolute;
    top:190px;
    left:805px;
    height:150px;
    width:150px;
}
.xinjiang .select .selecttwo .img3 .day span{
    display: inline-block;
    font-size: 20px;
    color:#3e3a39;
    padding:4px 10px;
    margin:3px 0px;
    border:1px solid transparent;
    cursor: pointer;
}
.xinjiang .select .selecttwo .img3 .day .active{
    border-color:#d9b663;
    color:#d9b663;
}
.xinjiang .select .show{
    padding-top:20px;
    width:1024px;
    margin:auto;
    display: block;
    text-align: center;
    text-align: -webkit-center;
    z-index:10000;
}
.xinjiang .select #show{
    width:350px;
    margin:auto;
    margin-top:20px;
}
.xinjiang .select #show img{
    width:100%;
}
.xinjiang .goods-group{
    width:1214px;
    margin:auto;
    margin-top:40px;
    padding-bottom:80px;
    overflow: hidden;
}
.xinjiang .goods-group .item{
    position: relative;
    background: #fff;
    float: left;
    width:31.6%;
    margin:7px 7px;
    moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: .3px;
}
.xinjiang .goods-group .item:hover{
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.3); box-shadow:0 5px 10px rgba(0,0,0,0.3); -webkit-transform:translate3d(0, -2px, 0); transform:translate3d(0, -2px, 0);
}
.xinjiang .goods-group .item a{
    position: absolute;
    top:0px;
    lefT:0px;
    width:100%;
    height:100%;
}
.xinjiang .goods-group .item .img{
    position: relative;
    overflow: hidden;
    height:232px;
}
.xinjiang .goods-group .item .img img{
    width:100%;
}
.xinjiang .goods-group .item .img p{
    position: absolute;
    top:0px;
    left:0px;
    background: #ff7200;
    color:#fff;
    padding:10px;
    font-size: 14px;
}
.xinjiang .goods-group .item .tit{
    padding:10px;
    border:1px solid #eee;
}
.xinjiang .goods-group .item .tit .lg{
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
}
.xinjiang .goods-group .item .tit .money{
    position: relative;
    height:40px;
}
.xinjiang .goods-group .item .tit .money .sm{
    color:#808080;
    font-size: 12px;
    line-height:20px;
}
.xinjiang .goods-group .item .tit .money .sm span{
    background: #fd4e4e;
    color:#fff;
    padding:2px;
    margin-right:5px;
}
.xinjiang .goods-group .item .tit .money .sm1{
    position: absolute;
    top:-32px;
    right:0px;
    color:#ff7200;
    font-size: 14px;
    float: right;
}
.xinjiang .goods-group .item .tit .money .sm1 .lg1{
    font-size: 25px;
    padding:0px 2px;
}
.xinjiang .customized{
    position: relative;
    background: #85cefc;
    height:440px;
}
.xinjiang .customized .earth{
    text-align: center;
    text-align: -webkit-center;
    padding-top:45px;
}
.xinjiang .customized .customized1{
    position: absolute;
    top:90px;
    left:0px;
    right:0px;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .customized .customized2{
    margin-top:30px;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .customized .btn-customized{
    display: block;
    background: #fff;
    border-color: #fff;
    color:#bb6832;
    width:210px;
    height:66px;
    line-height:66px;
    font-size: 27px;
    border-radius: 66px;
    margin:40px auto;
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .goods-group-two{
    margin-top:70px;
    padding-bottom:55px;
}
.xinjiang .goods-group .left{
    position: relative;
    width:26%;
    display: inline-block;
}
.xinjiang .goods-group .left div{
    text-align: center;
    text-align: -webkit-center;
}
.xinjiang .goods-group .left .abso1{
    position: absolute;
    left:0px;
    right:0px;
    bottom:120px;
}
.xinjiang .goods-group .left .abso2{
    position: absolute;
    left:0px;
    right:0px;
    bottom:-60px;
}
.xinjiang .goods-group .right{
    width:66.7%;
    display: inline-block;
}
.xinjiang .goods-group .right .item{
    width:47.4%;
}
.xinjiang .zhoubian{
    position: relative;
    height:1194px;
    background: url("../images/xinjiang/periphery.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.xinjiang .zhoubian .goods-group{
    position: absolute;
    top:370px;
    left:0px;
    right:0px;
}
.advice{
    position: fixed;
    bottom:40px;
    right:80px;
    z-index:1000;
}
.xinjiang .other{
    background: #fff;
}
.xinjiang .other .tit-one{
    text-align: center;
    text-align: -webkit-center;
    padding-top:80px;
}
.xinjiang .other .goods-group{
    padding-bottom:0px;
}
.xinjiang .periphery{z-index:100;}